<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <button ion-item *ngFor="let item of carts" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.name}}
      <div class="item-note" item-right>
        {{item.title}}
      </div>
    </button> -->
    <ion-item *ngFor="let item of carts; let i = index ">
      <ion-thumbnail item-start>
        <img src={{item.img}}>
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <div class='type'>
        <p>温度：<span>{{ iceDict[item.temperature] }}</span></p>
        <p>甜度：<span>{{ sweetDict[item.sweetness] }}</span></p>
      </div>
      <div class='price'>
        <span>{{ item.price }}</span>
      </div>
      <button ion-button clear item-end (click)="delete($event, item, i)"><ion-icon ios="ios-trash-outline" md="md-trash"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-navbar>
    <ion-title>总价：{{summary.price}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pay($event)">
        <ion-icon ios="ios-card" md="md-card"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>
